body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  background-color: #2196F3;
  color: white;
}

.greetings {
  font-size: 80px;
}

.position {
  font-size: 30px;
}

.bold {
  font-weight: normal;
}

a {
  background-color: white;
  color: #2196F3;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  display: inline-block;
}

.links {
  margin-top: 20px;
}

.links a {
  font-size: 18px;
}

.links div {
  padding-bottom: 2px;
}

.w-260 {
  width: 260px;
}
.w-300 {
  width: 300px;
}
.w-340 {
  width: 340px;
}
